<%= display_notice_when_needed %>

<div class="row">
	<div class="column grid_4">
		<h2> <%= link_to @note.title, edit_note_path(@note)  %>  </h2>
	</div>

	<div class="column grid_8">
	<p><%= @note.description %></p>
	</div>
</div>


<div class="row">	
	<div class="column grid_4">
		<dl><dt>Attachments</dt>
			<dd><%= render :template => 'attachments/index', :collection => @attachments %>
				<%= link_to 'Add Attachment', new_note_attachment_path(@note) %></dd>
		</dl>
		
		<dl><dt>Events</dt>
			<dd><%= render :template => 'events/index', :collection => @events %>
				<%= link_to 'Add Event', new_note_event_path(@note) %></dd>
		</dl>
	</div>

	<div class="column grid_8">

		<dl><dt>Comments</dt>
			<dd><%= render :template => 'comments/index', :collection => @comments %>
				<%= link_to 'Add Comment', new_note_comment_path(@note) %></dd>
		</dl>
	</div>
</div>	
